.containCol {
  display: flex; 
  justify-content:space-between; 
  flex-direction: column; 
  align-items: center;
}

.containRow {
  display: flex; 
  justify-content: center;
  flex-direction: row; 
  align-items: center;
}

.containCent {
  display: flex; 
  justify-content: center;
  flex-direction: column; 
  align-items: center;
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}


.screen1{
  height: 700px;
  background-color: #2c2c2c;
  border-radius: 1.5rem;
  border-color: transparent;
}

.header{
  flex: initial; 
  width:100%; 
  align-self: flex-start; 
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 90px);
	grid-template-rows: repeat(4, 90px);
	grid-gap: 10px;
	position: relative;
}

.card {
position: relative;
transition: 0.3s;
transform-style: preserve-3d;
/* font-family: kaiti; */
}

.card .front,  .card .back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    backface-visibility: hidden;
    border: 0px solid #000000;
    opacity: 1.0;
  }

  .charClas{
    font-size: 4rem;
    font-family: kaiti;
  }

  .card .front {
    background: #be1818;
    color: rgba(40, 40, 40, 0.3);
    font-size: 2.5rem;
    z-index: 2;
    transform: rotateY(0deg);
  }

  .card .back {
    background: #dddddd;
  }

  .c-flipped, .c-matched, .back{
    transform: rotateY(180deg);
  }
  
  .c-matched, .back{
    opacity: 0.8;
    border: 5px solid #ffee00;
    border-radius: 8px;
  }

  @font-face {font-family: "kaiti"; 
    font-display: swap;
    src: url("https://db.onlinewebfonts.com/t/8a1e9fe86f7a9489ec091ec4b78af185.eot"); 
    src: url("https://db.onlinewebfonts.com/t/8a1e9fe86f7a9489ec091ec4b78af185.eot?#iefix") format("embedded-opentype"), 
    url("https://db.onlinewebfonts.com/t/8a1e9fe86f7a9489ec091ec4b78af185.woff2") format("woff2"), 
    url("https://db.onlinewebfonts.com/t/8a1e9fe86f7a9489ec091ec4b78af185.woff") format("woff"), 
    url("https://db.onlinewebfonts.com/t/8a1e9fe86f7a9489ec091ec4b78af185.ttf") format("truetype"), 
    url("https://db.onlinewebfonts.com/t/8a1e9fe86f7a9489ec091ec4b78af185.svg#KaiTi_GB2312") format("svg"); 
  }

  .redBG {
    background-color: #be1818 !important;
    color: #bebebe !important; 
  }

  .name{
    font-size: 5rem;
    color: #d1cfcf;
    font-family: kaiti;
    margin: 10px;
  }

  .descrip{
    font-size: 1.1rem;
    color: #d1cfcf;
    font-family: sans-serif;
    width:80%;
    text-align: center;
    margin: 10px;

  }

  .name2{
    font-size: 2rem;
    color: #d1cfcf;
    font-family: sans-serif;
    margin: 10px;
  }

  .descrip2{
    font-size: 0.8rem;
    font-weight: 300;
    color: #d1cfcf;
    font-family: sans-serif;
    width:80%;
    margin: 10px;

  }


 a:link {
    color: rgba(250, 250, 250, 0.3);
    text-decoration: none;
  }

  .score{
    color: rgba(240, 240, 240, 0.3);
    font-size: 2.5rem;
    padding: 2rem;
    flex: initial;
  }

  .button, .input {
    background-color: #9e9e9e;
    border-color: #dbdbdb;
    border-width: 2px;
    color: #363636;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    
    text-align: center;
    white-space: nowrap;

    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 2px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: none;
            box-shadow: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1.5rem;
    height: 2.5em;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    line-height: 1.5;

    position: relative;
    vertical-align: top;

  }

  .input{
    margin: 0.2rem;

    background-color: #EFF0EB;
    border-color: transparent;
    color: #363636;
  }

  .button {
    
    cursor: pointer;
    
    padding-bottom: calc(1rem - 2px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(1rem - 2px);
    
    padding-bottom: calc(0.5em - 2px);
    padding-left: calc(0.75em - 2px);
    padding-right: calc(0.75em - 2px);
    padding-top: calc(0.5em - 2px);
    margin: 1.5rem;

  }

  .button:hover {
    border-color: #D0D1CD;
    color: #363636;
  }
  .button:focus, .button.is-focused {
    border-color: #eeeeee;
    color: #363636;
  }

  .button:focus, .input:focus {
    outline: none;
  }

  .button:disabled{
    opacity: 0.3;
  }

  .wellDone{
    flex: initial; 
    background-color: #2c2c2c; 
    width: 80%; 
    height: 70%;
    border-radius: 1rem;
    border: 10px solid #be1818;
    display: flex;
    align-items: center;
    justify-content: center
  }

  div.wellDone p {
    margin: 0 }

